header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 15px 50px;
  color: #2c3e50;
}

header h1 {
  font-size: 22px;
  font-weight: bold;
}
.logo{
  width: 80px;
  height: 80px;
}
/* Remove a linha azul padrão e define a cor */
.nav-link {
  text-decoration: none;
  color: #a8a8a8;
  line-height: 2;
  position: relative; /* Importante: o link é a referência para a linha */
  transition: color 0.3s;
}

/* Container para alinhar os links lado a lado */
.nav-container {
  display: flex;
  gap: 25px;
}

/* Criando a linha individual para cada link */
.nav-link::before {
  content: '';
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #c7b40b;
  position: absolute;
  bottom: -5px; /* Ajuste a distância da linha aqui */
  left: 0;
  
  /* Estado inicial: invisível e um pouco abaixo */
  opacity: 0;
  transform: translateY(5px);
  transition: transform .4s, opacity .4s;
}

/* Efeito ao passar o mouse: a linha sobe e aparece */
.nav-link:hover::before {
  transform: translateY(0);
  opacity: 1;
}

/* Opcional: mudar a cor do texto no hover */
.nav-link:hover {
  color: #2c3e50; /* Um tom dourado para combinar com sua logo */
}
/* From Uiverse.io by satyamchaudharydev */ 
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #e7e7e7;
  --border-color: #2c3e50;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

.icone-perfil {
  cursor: pointer;
  font-size: 16px;
  width: 50px;
  height: 50px;
  padding: auto;

}